ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  text-align: center;
}
ul.social {
  padding: 0!important;
}
ul.list li {
  display: inline;
}
ul.list a {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  text-align: center;
  font-size: 1em;
  line-height: 45px;
  transition: 0.5s;
}
ul.list a:hover {
  -moz-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
}
ul.list a.sc-github, ul.list a.sc-github-alt {
  background-color: #111010;
  color: white;
}
ul.list a.sc-twitter {
  color: white;
  background-color: #4da7de;
}

aside h4 {
  text-decoration: underline;
}

aside form.navbar-search input#tipue_search_input {
  width: 85%;
}

aside.toc{
  display: none;
}
@media screen and (min-width: 1480px) {
  main {
    padding-right: 20vw;
  }
  aside.toc{
    left: 80vw;
    width: 20vw;
    background-color: #eee;
    font-size: .8em;
    text-align: left;
  }
  aside.toc ul{
    padding: 0;
    padding-inline-start: 10px;
  }
  aside.toc *{
    color: black!important;
  }
  aside.toc div.col-lg-3.hidden-xs.hidden-sm {
    padding: 9px;
    margin: 18px 9px;
    border-radius: 10px;
    background-color: white;
  }
  aside.toc h4 {
    text-align: center;
    margin-bottom: 0;
  }
  aside.toc a:hover {
    color: #d9411e!important;
    text-decoration: underline;
  }
  aside.toc div#toc {
    padding-top: 0;
  }
}

.github-corner svg {
  position: fixed!important;
  z-index: 100;
}